<html>
<body>
<pre>
<h1>µVision Build Log</h1>
<h2>Project:</h2>
C:\Users\wang\Desktop\stm32+ucosiii\template\probe\probe_proj\prob_lib_creator.uvproj
Project File Date:  04/10/2014

<h2>Output:</h2>
Build target 'Target 1'
compiling bsp.c...
..\src\bsp.c(206): warning:  #47-D: incompatible redefinition of macro "SysTick_LOAD_RELOAD_Msk" (declared at line 613 of "G:\TX\ARM\CMSIS\Include\core_cm3.h")
  #define SysTick_LOAD_RELOAD_Msk            (0xFFFFFFul << SysTick_LOAD_RELOAD_Pos)  
..\src\bsp.c(699): warning:  #111-D: statement is unreachable
      return 0;((CPU_TS_TMR)DWT_CYCCNT);
..\src\bsp.c(268): warning:  #177-D: function "BSP_LED_Init" was declared but never referenced
  static  void  BSP_LED_Init (void)
..\src\bsp.c(442): warning:  #177-D: function "BSP_StatusInit" was declared but never referenced
  static  void  BSP_StatusInit (void)
..\src\bsp.c: 4 warnings, 0 errors
compiling bsp_i2c.c...
compiling bsp_int.c...
compiling bsp_os.c...
compiling bsp_periph.c...
compiling bsp_ser.c...
..\src\bsp_ser.c(156): warning:  #177-D: function "BSP_Ser_ISR_Handler" was declared but never referenced
  void  BSP_Ser_ISR_Handler (void)
..\src\bsp_ser.c: 1 warning, 0 errors
compiling cpu_c.c...
compiling cpu_core.c...
compiling lib_ascii.c...
compiling lib_math.c...
compiling lib_mem.c...
compiling lib_str.c...
compiling os_cfg_app.c...
compiling os_core.c...
compiling os_cpu_c.c...
compiling os_dbg.c...
compiling os_flag.c...
compiling os_int.c...
compiling os_mem.c...
compiling os_msg.c...
compiling os_mutex.c...
compiling os_pend_multi.c...
compiling os_prio.c...
compiling os_q.c...
compiling os_sem.c...
compiling os_stat.c...
compiling os_task.c...
compiling os_tick.c...
compiling os_time.c...
compiling os_tmr.c...
compiling os_var.c...
compiling probe_com.c...
compiling probe_com_os.c...
compiling probe_rs232.c...
compiling probe_rs232_os.c...
compiling probe_rs232c.c...
creating Library...
".\obj\prob_lib_creator.lib" - 0 Error(s), 5 Warning(s).
CPU_BOOLEAN  BSP_STLM75_WrReg_08  (CPU_INT08U  reg,
..\src\bsp_stlm75.c(309): warning:  #177-D: function "BSP_STLM75_WrReg_16" was declared but never referenced
  static  CPU_BOOLEAN  BSP_STLM75_WrReg_16  (CPU_INT08U  reg,
..\src\bsp_stlm75.c: 4 warnings, 4 errors
compiling cpu_c.c...
compiling cpu_core.c...
compiling lib_ascii.c...
compiling lib_math.c...
compiling lib_mem.c...
compiling lib_str.c...
compiling os_cfg_app.c...
compiling os_core.c...
compiling os_cpu_c.c...
compiling os_dbg.c...
compiling os_flag.c...
compiling os_int.c...
compiling os_mem.c...
compiling os_msg.c...
compiling os_mutex.c...
compiling os_pend_multi.c...
compiling os_prio.c...
compiling os_q.c...
compiling os_sem.c...
compiling os_stat.c...
compiling os_task.c...
compiling os_tick.c...
compiling os_time.c...
compiling os_tmr.c...
compiling os_var.c...
compiling probe_com.c...
compiling probe_com_os.c...
compiling probe_rs232.c...
compiling probe_rs232_os.c...
compiling probe_rs232c.c...
".\prob_lib_creator.axf" - 4 Error(s), 9 Warning(s).
Target not created
