<html>
<body>
<pre>
<h1>µVision Build Log</h1>
<h2>Project:</h2>
C:\Users\wang\Desktop\EasySTM32\template\USER\template.uvproj
Project File Date:  05/05/2014

<h2>Output:</h2>
Build target 'Jlink'
linking...
Program Size: Code=27100 RO-data=332 RW-data=124 ZI-data=1684  
FromELF: creating hex file...
"..\OUTPUT\jlink\template.axf" - 0 Error(s), 0 Warning(s).
</pre>
</body>
</html>
), 0 Warning(s).
1684  
FromELF: creating hex file...
"..\OUTPUT\jlink\template.axf" - 0 Error(s), 1 Warning(s).
ing hex file...
"..\OUTPUT\jlink\template.axf" - 0 Error(s), 1 Warning(s).
).
Not enough information to list image symbols.
Finished: 1 information, 0 warning and 1 error messages.
"..\OUTPUT\jlink\template.axf" - 1 Error(s), 2 Warning(s).
Target not created
