<html>
<body>
<pre>
<h1>µVision Build Log</h1>
<h2>Project:</h2>
C:\Users\wang\Desktop\EasySTM32\template\USER\template.uvproj
Project File Date:  05/04/2014

<h2>Output:</h2>
Build target 'Jlink'
linking...
Program Size: Code=25460 RO-data=332 RW-data=120 ZI-data=1632  
FromELF: creating hex file...
"..\OUTPUT\jlink\template.axf" - 0 Error(s), 0 Warning(s).
</pre>
</body>
</html>
.
_FSM_BUF[10][PT_PERDATA_BUF_SIZE];
..\UTILS\Protocol\Protocol.c: 1 warning, 0 errors
linking...
Program Size: Code=25460 RO-data=332 RW-data=120 ZI-data=1632  
FromELF: creating hex file...
"..\OUTPUT\jlink\template.axf" - 0 Error(s), 1 Warning(s).
=26088 RO-data=332 RW-data=136 ZI-data=1688  
FromELF: creating hex file...
"..\OUTPUT\jlink\template.axf" - 0 Error(s), 3 Warning(s).
DACManager.h(14): warning:  #1-D: last line of file ends without a newline
  #endif 
..\UTILS\DACManager\DACManager.c: 2 warnings, 0 errors
linking...
Program Size: Code=26088 RO-data=332 RW-data=136 ZI-data=1688  
FromELF: creating hex file...
"..\OUTPUT\jlink\template.axf" - 0 Error(s), 5 Warning(s).
V8.00
S/N : 19850127 
Feature(s) : RDI,FlashDL,FlashBP,JFlash,GDBFULL 
 
* JLink Info: Found SWD-DP with ID 0x1BA01477
* JLink Info: Found SWD-DP with ID 0x1BA01477
* JLink Info: Found Cortex-M3 r1p1, Little endian.
* JLink Info: FPUnit: 6 code (BP) slots and 2 literal slots
* JLink Info: TPIU fitted.
* JLink Info: ETM fitted.
ROMTableAddr = 0xE00FF003
 
Target info:
------------
Device: STM32F103ZE
VTarget = 3.293V
State of Pins: 
TCK: 0, TDI: 1, TDO: 0, TMS: 1, TRES: 1, TRST: 1
Hardware-Breakpoints: 6
Software-Breakpoints: 8192
Watchpoints:          4
JTAG speed: 4000 kHz
 
Erase Done.
Programming Done.
Application running ...
reakpoints: 8192
Watchpoints:          4
JTAG speed: 4000 kHz
 
Erase Done.
Programming Done.
Application running ...
rs
compiling USART2BufReceiever.c...
compiling USARTBufReceiever.c...
compiling THB7128.c...
compiling rtc.c...
compiling Protocol.c...
..\UTILS\Protocol\Protocol.c(3): warning:  #550-D: variable "PT_FSM_BUF" was set but never used
  static unsigned char PT_FSM_BUF[10][PT_PERDATA_BUF_SIZE];
..\UTILS\Protocol\Protocol.c: 1 warning, 0 errors
compiling 24l01.c...
compiling doEvery.c...
compiling DACManager.c...
..\UTILS\DACManager\DACManager.h(13): warning:  #1295-D: Deprecated declaration DACManager_Init_Enable - give arg types
  void DACManager_Init_Enable();
..\UTILS\DACManager\DACManager.h(14): warning:  #1-D: last line of file ends without a newline
  #endif 
..\UTILS\DACManager\DACManager.c: 2 warnings, 0 errors
compiling core_cm3.c...
compiling misc.c...
compiling stm32f10x_adc.c...
compiling stm32f10x_bkp.c...
compiling stm32f10x_can.c...
compiling stm32f10x_cec.c...
compiling stm32f10x_crc.c...
compiling stm32f10x_dac.c...
compiling stm32f10x_dbgmcu.c...
compiling stm32f10x_dma.c...
compiling stm32f10x_exti.c...
compiling stm32f10x_flash.c...
compiling stm32f10x_fsmc.c...
compiling stm32f10x_gpio.c...
compiling stm32f10x_i2c.c...
compiling stm32f10x_iwdg.c...
compiling stm32f10x_pwr.c...
compiling stm32f10x_rcc.c...
compiling stm32f10x_rtc.c...
compiling stm32f10x_sdio.c...
compiling stm32f10x_spi.c...
compiling stm32f10x_tim.c...
compiling stm32f10x_usart.c...
compiling stm32f10x_wwdg.c...
compiling diskio.c...
compiling ff.c...
..\FATFS\src\ff.c(1653): warning:  #111-D: statement is unreachable
                        w = (w << 8) + b;                       /* Create a DBC */
..\FATFS\src\ff.c: 1 warning, 0 errors
compiling spi.c...
compiling MMC_SD.C...
compiling ccsbcs.c...
compiling easyFATFS.c...
compiling MPU6050.c...
compiling iic_analog.c...
compiling interrupt.c...
linking...
Program Size: Code=25412 RO-data=332 RW-data=120 ZI-data=1632  
FromELF: creating hex file...
"..\OUTPUT\jlink\template.axf" - 0 Error(s), 12 Warning(s).
