<html>
<body>
<pre>
<h1>µVision Build Log</h1>
<h2>Project:</h2>
C:\Users\wang\Desktop\EasySTM32\template\USER\template.uvproj
Project File Date:  05/09/2014

<h2>Output:</h2>
Build target 'Jlink'
compiling main.c...
BCar.h(17): warning:  #1-D: last line of file ends without a newline
  #endif
main.c(34): warning:  #174-D: expression has no effect
                PID_target+1;
main.c: 2 warnings, 0 errors
linking...
Program Size: Code=35524 RO-data=488 RW-data=516 ZI-data=2068  
FromELF: creating hex file...
"..\OUTPUT\jlink\template.axf" - 0 Error(s), 2 Warning(s).
Load "..\\OUTPUT\\jlink\\template.axf" 
Set JLink Project File to "C:\Users\wang\Desktop\EasySTM32\template\USER\JLinkSettings.ini"
* JLink Info: Device "STM32F103T8" selected (64 KB flash, 20 KB RAM).
 
JLink info:
------------
DLL: V4.76d, compiled Sep 13 2013 16:35:06
Firmware: J-Link ARM V8 compiled Jul 17 2013 11:24:15
Hardware: V8.00
S/N : 19850127 
Feature(s) : RDI,FlashDL,FlashBP,JFlash,GDBFULL 
 
* JLink Info: Found SWD-DP with ID 0x1BA01477
* JLink Info: Found SWD-DP with ID 0x1BA01477
* JLink Info: Found Cortex-M3 r1p1, Little endian.
* JLink Info: FPUnit: 6 code (BP) slots and 2 literal slots
* JLink Info: TPIU fitted.
ROMTableAddr = 0xE00FF003
 
Target info:
------------
Device: STM32F103T8
VTarget = 3.144V
State of Pins: 
TCK: 0, TDI: 1, TDO: 1, TMS: 1, TRES: 1, TRST: 1
Hardware-Breakpoints: 6
Software-Breakpoints: 8192
Watchpoints:          4
JTAG speed: 4000 kHz
 
Erase Done.
Programming Done.
Application running ...
</pre>
</body>
</html>
--------
Device: STM32F103T8
VTarget = 3.177V
State of Pins: 
TCK: 0, TDI: 1, TDO: 1, TMS: 1, TRES: 1, TRST: 1
Hardware-Breakpoints: 6
Software-Breakpoints: 8192
Watchpoints:          4
JTAG speed: 4000 kHz
 
Erase Done.
Programming Done.
Application running ...
 compiled Jul 17 2013 11:24:15
Hardware: V8.00
S/N : 19850127 
Feature(s) : RDI,FlashDL,FlashBP,JFlash,GDBFULL 
 
* JLink Info: Found SWD-DP with ID 0x1BA01477
* JLink Info: Found SWD-DP with ID 0x1BA01477
* JLink Info: Found Cortex-M3 r1p1, Little endian.
* JLink Info: FPUnit: 6 code (BP) slots and 2 literal slots
* JLink Info: TPIU fitted.
ROMTableAddr = 0xE00FF003
 
Target info:
------------
Device: STM32F103T8
VTarget = 3.164V
State of Pins: 
TCK: 0, TDI: 1, TDO: 1, TMS: 1, TRES: 1, TRST: 1
Hardware-Breakpoints: 6
Software-Breakpoints: 8192
Watchpoints:          4
JTAG speed: 4000 kHz
 
Erase Done.
Programming Done.
Application running ...
